.todo {
  margin-top: 2rem;
  border-radius: 3px;
  width: 60vw;
  max-width: 800px;
  background-color: #F5F6FB;
  -webkit-box-shadow: 0px 19px 29px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 19px 29px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 19px 29px -15px rgba(0,0,0,0.75);
}

.bg-header {
  margin-bottom: 1rem;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border: 0px solid #000000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 200px;
  // background-image: radial-gradient( circle farthest-corner at 10% 20%, #6E4EC7 0%, #2C2C66 80.6% );
  // background: linear-gradient(223deg, #6e4ec7, #2c2c66);
  // background-size: 400% 400%;
  // -webkit-animation: AnimationName 15s ease infinite;
  // -moz-animation: AnimationName 15s ease infinite;
  // animation: AnimationName 15s ease infinite;
  background: url(../../assets/img/bg.jpg);
  background-size: cover;
  animation: animation 300s linear infinite;

  @keyframes animation {
    100%{
     background-position:0px -3228px;
   }
 }

  &__date {
    font-weight: 300;
    font-size: .6em;
    margin-top: 1rem;
  }
}

.container {
  text-align: center;
}

.footer {
  text-align: center;
  margin: 4rem;
  color: aquamarine;
  
  & > img {
    margin: 1rem;
    width: 70px;
    border-radius: 2px 8px 2px 8px;
    -moz-border-radius: 2px 8px 2px 8px;
    -webkit-border-radius: 2px 8px 2px 8px;
    border: 0px solid #000000;
    -webkit-box-shadow: 4px 4px 0px 0px rgb(242, 6, 250);
    -moz-box-shadow: 4px 4px 0px 0px rgb(242, 6, 250);
    box-shadow: 4px 4px 0px 0px rgb(242, 6, 250);
  }

  & a {
    transition: color 0.5s ease;
    text-decoration-line: underline;
  }

  & a:hover {
    color: rgb(242, 6, 250);
  }
}